body
{
    background: #FFF;
}
.menu
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--ui-white, #FFF);
    width: 140px;
    padding: 32px 0;
    height: 100%;
    
    &__wrapper
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    &__profile
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        hr 
        {
            margin-top: 16px;
            width: 100%;
        }
        p 
        {
            margin-left: 8px;
            font-size: 15px;
            font-weight: 500;
            color: #303030;
        }
    }
    &__user
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        padding-left: 16px;
    }
    &__teams
    {
        text-align: center;
        height: 46px;
        width: 38px;
        a 
        {
            text-decoration: none;
        }
        &:hover
        {
            svg path,  .menu__title
            {
                fill: #FF5761;
                color: #FF5761;
            }
        }
    }
    &__playears
    {
        text-align: center;
        height: 46px;
        width: 40px;
        margin-top: 36px;
        cursor: pointer;
        a 
        {
            text-decoration: none;
        }
        &:hover
        {
            svg path,  .menu__title
            {
                fill: #FF5761;
                color: #FF5761;
            }

        }

    }
    &__signout
    {
        text-align: center;
        height: 46px;
        width: 46px;
        a 
        {
            text-decoration: none;
        }

    }
    &__title
    {
        display: block;
        font-size: 12px;
        font-weight: 500;
        color: #9C9C9C;
        &-red 
        {
            @extend .menu__title;
            color: #FF768E;
        }
    }
    &__signOutmargin
    {
        text-align: center;
        height: 46px;
        width: 46px;
        margin: 808px 47px 0 47px;
    }
    &.active
    {
        display: flex;
        position: absolute;
        height: 100%;
        width: 201px;
    }
}
.overlay
{
    &.visible
    {
        top: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}
.gumer
{
        svg path,  .menu__title
        {
            fill: #FF5761;
            color: #FF5761;
        }
}
@import 'media'