@media(max-width: 768px)
{
    .roster 
    {
        &__header 
        {
            padding-left: 16px;
        }
        &__row:nth-child(1)
        {
            padding-left: 16px;
        }
        &__row
        {
            padding-left: 16px;
        }
        &__row:nth-child(1) &__column1:nth-child(1)
        {
            max-width: 75px;
        }
        &__row:nth-child(1) &__column2:nth-child(2) 
        {
            max-width: 250px;
        }
        &__info
        {
            width: 150px;
        }
    }
}
@media(max-width: 576px)
{
    .roster 
    {
        &__row:nth-child(1) 
        {
            padding-right: 16px;
        }
        &__row
        {
            padding-right: 16px;
        }
        // &__column1
        // {
        //     justify-content: start;
        // }
        // &__info
        // {
        //     width: 100%;
        // }
        &__row:nth-child(1) &__column2:nth-child(2) 
        {
            max-width: 150px;
        }
        &__column2 
        {
            max-width: 150px;
        }
        &__info 
        {
            max-width: 125px;
        }
    }
}
@media(max-width: 426px)
{
    .roster 
    {
        &__header
        {
            border-radius: 0px
        }
        &__row:nth-last-child(-n + 1) 
        {
            border-radius: 0px
        }
    }
}
@media(max-width: 376px)
{
    .roster 
    {
        &__column1
        {
            max-width: 215px;
        }
        &__column2
        {
            display: none;
        }
    }
}