
.roster 
{
    margin: 24px 0 19px 0;
    
    &__header
    {
        height: 54px;
        border-radius: 10px 10px 0px 0px;
        border: 0.5px solid  #9C9C9C;
        background: #FFF;
        display: flex;
        align-items: center;
        padding-left: 32px;
    }

    &__row
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 43px 0 32px;
        border: 0.5px solid #9C9C9C;
        border-top: none;
        font-size: 14px;
        background: #FFF;
        height: 56px;
        color: var(--color-light-gray);
    }
    &__row:nth-child(1) 
    {
        height: 40px;
        padding: 0 32px;
    }
    &__column1
    {
        display: flex;
        width: 100%;
        align-items: center;
        max-width: 272px;
        justify-content: space-between;

    }
    &__row:nth-child(1) &__column1:nth-child(1)
    {
        max-width: 92px;
    }
    &__row:nth-child(1) &__column2:nth-child(2) 
    {
        max-width: 285px;
    }
    &__row:nth-last-child(-n + 1)
    {
        border-radius: 0px 0px 10px 10px
    }
    &__column2
    {
        display: flex;
        max-width: 274px;
        width: 100%;
        justify-content: space-between;

    }
    &__number
    {
                font-size: 14px;
                    font-weight: 500;
    }
    &__player
    {
        display: flex;
    }
    &__img 
    {
        margin-right: 10px;
        img 
        {
            width: 52px;
            height: 38px;
            border-radius: 50%;
        }
    }
    &__info
    {
        display: flex;
        justify-content: center;
        line-height: 21px;
        flex-direction: column;
        width: 160px;
        align-items: flex-start;
        span:nth-child(2)
        {
            font-size: 12px;
            color: #9C9C9C;
        }
    }
}

@import 'media'