@import url('https://webfonts.brand.ucsb.edu/webfont.min.css');

.container
{
    width: 1140px;
    margin: 0 auto; 
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}

// .app
// {
//     margin: 0 auto;
//     position: relative;
// }

.App
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    position: relative;
    display: flex;
    flex: 1;
}

@import 'media'