// @import url('https://webfonts.brand.ucsb.edu/webfont.min.css');
@import url('https://db.onlinewebfonts.com/c/0983e84d4a1963e075b5ae8ca12e2a4f?family=Avenir+Medium');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

.container
{
    width: 1140px;
    margin: 0 auto; 
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
}
// .app
// {
//     margin: 0 auto;
//     position: relative;
// }
body
{
    background:  #F6F6F6;
}
.app
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main
{
    position: relative;
    display: flex;
    flex: 1;
}

@import 'media'