.container 
{
    width: 1140px;
}
.team-cards
{
    display: flex;  
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;

    &__grid
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;     
        a 
        {
            text-decoration: none;
        }   
    }
    &__item
    {
        display: flex;
        flex-direction: column;
        width: 364px;
        height: 380px;
        margin: 0;
        padding: 0;
        background: linear-gradient(#707070, #393939) ;
        border-radius: 4px;
        cursor: pointer;
    }
    &__wrapper
    {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        img 
        {
            max-width: 150px;
            max-height: 150px;
            object-fit: contain;
        }
    }
    &__text
    {
        height: 100px;
        border-radius: 0px 0px 4px 4px;
        background: var(--ui-dark-grey, #303030);
        padding: 24px 0 24px 0;
        text-align: center;
    }
    &__name
    {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 18px;
    }
    &__year
    {
        font-size: 14px;
        font-weight: 500;
        color: #9C9C9C;
        line-height: 24px;
    }
}

@import 'media'