@media (max-width: 1438px)
{
    .addition
    {
        &__wrapper
        {
            padding: 48px 0;
            justify-content: space-around;
        }
    }
}
@media (max-width: 992px)
{
    .addition
    {
        &__wrapper
        {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form
        {
            margin-top: 48px;
        }
    }
}
@media (max-width: 376px)
{
    .addition
    {
        margin-top: 16px;
        border-radius: 0;
        &__loading
        {
            width: 185px;
            height: 144px;
        }
        &__wrapper
        {
            padding: 48px 0;
        }
    }
    .form
    {
        width: 100%;
        padding: 0 24px;
        &__button
        {
            display: flex;
        }
        &__birthday
        {
            img 
            {
                position: absolute;
                left: 123px;
                top: 36px;
            }
        }
    }
}
@media(max-width: 356px)
{

    .form
    {   
        padding: 0 12px;
        &__birthday
        {
            img 
            {
                left: 39%;
            }
        }
    }
}