.css-b62m3t-container
{
    width: 100% !important;
    border: none !important;
}
.players-select
{
    &__control
    {
        border: none !important;
        background:  #F6F6F6 !important;
        box-shadow:none !important;
        border-color: #D1D1D1 !important;
    }
    &__value-container
    {
        cursor: text !important;
    }
    &__multi-value
    {
        border-radius: 4px !important;
        background:  #E4163A !important;      
    }
    &__multi-value__label
    {
        color: #FFF !important;
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    &__multi-value__remove
    {
        color: #FFF !important;
    }    
    &__option
    {   
        cursor: pointer !important;
        color: #9C9C9C !important;
        &--is-focused
        {
            background: #C60E2E !important;
            color: #fff !important;
        }   
    }
    &__indicators
    {
        cursor: pointer !important;
    }

}
.addition
{
    border-radius: 10px 10px 10px 10px;
    background: #FFF;
    margin-top: 32px;
    
    &__wrapper
    {
        display: flex;
        padding: 48px 229px 48px 73px;
        justify-content: space-between;
    }

    &__menu
    {
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 69px;
    }
    &__path 
    {
        display: flex;
        align-items: center;
        height: 21px;
        
        a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            color: #E4163A;
            line-height: 24px;
        }
        
        span 
        {
            color: #9C9C9C;
        }
    }

    &__loading 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        opacity: 0.5;
        background: #9C9C9C;
        width: 336px;
        height: 261px;
    }
}
.form 
{
    &__group 
    {
        position: relative;
        height: 92px;
        display: flex;
        align-items: center;
    }

    &__row1
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__row2
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__height, &__weight, &__birthday, &__number
    {
        flex: 0 0 calc(50% - 12px);
        img 
        {
            position: absolute;
            left: 143px;
            top: 36px;
            cursor: pointer;
        }
    
    }
}
@import 'media'