.players
{
    margin-top: 32px;
    &__menu
    {
        border-radius: 10px 10px 0px 0px;
        border: 0.5px solid #9C9C9C;
        background: #FFF;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 69px;
    }
    &__change
    {
        display: flex;
        
    }
    &__create
    {
        align-items: center;
        display: flex;
        margin-right: 16px;
    }
    &__delete
    {
        display: flex;
        align-items: center;
    }
    &__path
    {
        display: flex;
        align-items: center;
        height: 21px;
        
        a 
        {
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            color:  #E4163A;
            line-height: 24px;
        }

        span 
        {
            color:  #9C9C9C;
        }
    }
    &__wrapper
    {
        display: flex;
        border-radius: 0px 0px 10px 10px;
        background: linear-gradient(315deg, #707070 0%, #393939 100%);
        padding-top: 65px;
        padding-right: 144px;
        justify-content: space-between;
    }
    &__img
    {
        display: flex;
        align-items: end;
        max-width: 531px;
        width: 100%;
        img 
        {
            // transform: scale(1.9);
            width: 100%;
        }
    }
    &__information
    {
        padding-bottom: 65px;
        max-width: 408px;
        width: 100%;
    }
    &__main-title
    {
        font-size: 36px;
        font-weight: 800;
        color: #FFF;

        span 
        {
            color: #FF5761;
            font-size: 36px;
            font-weight: 800;
        }
    }
    &__title
    {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
    &__subtitle
    {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        margin-top: 8px;
    }
    &__row1
    {
        display: flex;  
        justify-content: space-between;
        margin-top: 40px;
    }
    &__row2
    {
        @extend .players__row1;
        display: flex;
        margin-top: 54px;
    }
    &__weight
    {
        margin-right: 50px;
    }

    &__age
    {
        margin-top: 54px;
    }
}

@import 'media'