@media (max-width: 1438px)
{
    .addittion
    {
        &__wrapper
        {
            padding: 48px 0;
            justify-content: space-around;
        }
    }
}
@media (max-width: 992px)
{
    .addittion
    {
        &__wrapper
        {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form
        {
            margin-top: 48px;
        }
    }
}

@media (max-width: 376px)
{
    .addittion
    {
        margin-top: 16px;
        border-radius: 0;
        &__loading
        {
            width: 168px;
            height: 130.5px;
        }
    }
    .form
    {
        &__wrapper
        {
            padding: 0 24px;
        }
        &__button
        {
            display: flex;
        }
    }
}
@media(max-width: 356px)
{
    .form
    {   
        &__wrapper
        {
            padding: 0;
            width: 300px;
        }
    }
}